<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-E0VKAEI;Initial Catalog=CatalogueNew; Integrated Security=True" name="myConStr"/>
	</connectionStrings>
</configuration>